<div class="row">
  <div class="collection">
    <div class="item">Level {{ demo.player_level }}</div>
    <div class="item">{{ demo.player_xp }} XP</div>
  </div>
  <div class="collection">
    <div class="item info" data-desc="{{ demo.race.desc }}">
      {{ demo.race.name }}
    </div>
    <div class="item info" data-desc="{{ demo.subrace.desc }}">
      {{ demo.subrace.name }}
    </div>
  </div>
  <div class="collection">
    <div class="item">{{ demo.job }}</div>
    <div class="item info" data-desc="{{ demo.subjob.desc }}">
      {{ demo.subjob.name }}
    </div>
  </div>
  <div class="collection">
    <div class="item">Age: {{ demo.age }} years</div>
  </div>
  <div class="collection">
    <div class="item info" data-desc="{{ demo.alignment.desc }}">
      {{ demo.alignment.name }}
    </div>
  </div>
</div>

{% if demo.notes %}
<div class="collection">
  <div class="descriptive">{{demo.notes}}</div>
</div>
{% endif %}
